<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYVideoTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABB79CAA1D6EDAD200B786AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB79CC31D6EDAD300B786AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB79CCE1D6EDAD300B786AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
